@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-surface-lowest: #090e1c;
    --color-surface: #0e1322;
    --color-primary: #22d3ee;
    --color-secondary: #8b5cf6;
  }

  body {
    background-color: var(--color-surface-lowest);
    color: #f8fafc;
    overflow-x: hidden;
  }
}

/* Scrollbars personalizados con estética Biotech */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #090e1c;
}
::-webkit-scrollbar-thumb {
  background: #1c2236;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}
